<html>
    <head>
        <meta charset="UTF-8">
        <title style="color: #0D3862">Banco Claudia</title>
        <link rel="stylesheet" type="text/css" href="CSS/Style.css">
        
    </head>
    
<body>
    <div clss="layout">
        
        <header>
            
            <h1 >BANCO CLAUDIA</h1>
            <h2 style="text-align: center; color: white;"> Visão de Usuario</h2>
        
        </header>
        
            <div class="box-search">
                    <input type="search" placeholder="Pesquisar" id="pesquisar" >
                    <a href="#" class="sbtn">
                        <img src="CSS/1093183.svg" alt="lupa" height="20" width="20">
                   </a>
            </div>
        
        <section>
            <nav class="bnt-botoes">

                    <a href="/admin"><button  class="botoes"> ADMIN </button></a>
                    <a href="/user"><button   class="botoes"> USER </button></a>
                    <a href="/grafl"><button  class="botoes">GRAFICO LINHA</button></a>
                    <a href="/grafp"><button  class="botoes">GRAFICO PIZZA</button></a>
                    <a href="/"><button  class="botoes">TELA INICIAL</button></a>
            </nav>
            
            <article>
                
                <table>
                    <div>
                        <p class="groove">
                            {% for row in excel_data %}
                            <tr> 
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                            </tr>
                            {% endfor %}
                        </p>
                    </div>
                </table>
                
            </article>   
        </section>
    </div>
</body>
</html>